#page-search-results {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-results header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-search-results header a span {
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
    display: flex;
    margin-right: 16px;
}

main {
    margin: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0 ;
    object-fit: cover;
}

main .card h1 {
    margin-top: 32px;
    font-size: 36px;
    line-height: 40px;
    color: #322153;
}

main .card h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: var(--primary-color);
    margin: 24px 0;
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    counter-reset: #6c6c80;
}

body {
    background-color: white;
}

body::after {
    content: "";
    position: absolute;
    background: #f0f0f5;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    height: 16rem;
}